{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">

        <div class="media-body">
            <div class="plan-header">
              <img class="rounded plan-img float-right" src="/media/road_trip2019.jpg">
              <h1 class="article-title" position="relative">Our Plan</h1>

            </div>
            <p class="article-content">
            <div class="table-responsive">
              <table class="table" style="width:100%">
                  <tr>
                    <th>Date</th>
                    <th>City</th>
                      <th>Mi(km) to Drive</th>
                      <th>View on Google Maps</th>
                  </tr>
                  <tr>
                    <td>10 - 11 May</td>
                    <td>Montreal, QC</a></td>
                    <td>290mi / 467km</td>
                      <td><a href="https://www.google.ca/maps/place/Montreal,+QC,+Canada/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>11 - 12 May</td>
                    <td>Ottawa, ON</td>
                    <td>123mi / 198km</td>
                      <td><a href="https://www.google.ca/maps/place/Ottawa,+ON,+Canada/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>12 - 14 May</td>
                    <td>Toronto, ON</td>
                    <td>250mi / 403km</td>
                      <td><a href="https://www.google.ca/maps/place/Toronto,+ON,+Canada/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>14 - 16 May</td>
                    <td>Chicago, IL</td>
                      <td>518mi / 835km</td>
                      <td><a href="https://www.google.ca/maps/place/Chicago,+IL/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>16 - 20 May</td>
                    <td>Columbus, OH</td>
                      <td>357mi / 575km</td>
                      <td><a href="https://www.google.ca/maps/place/Columbus,+OH/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>20 - 21 May</td>
                    <td>Louisville, KY</td>
                      <td>206mi / 332km</td>
                      <td><a href="https://www.google.ca/maps/place/Louisville,+KY/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>21 - 22 May</td>
                    <td>Lake City, FL</td>
                      <td>707mi / 1137km</td>
                      <td><a href="https://www.google.ca/maps/place/Lake+City,+FL/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>22 - 24 May</td>
                    <td>Orlando, FL</td>
                      <td>157mi / 253km</td>
                      <td><a href="https://www.google.ca/maps/place/Orlando,+FL/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>24 - 26 May</td>
                    <td>Siesta Key, FL</td>
                      <td>139mi / 224km</td>
                      <td><a href="https://www.google.ca/maps/place/Siesta+Key,+FL+34242/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>26 - 27 May</td>
                    <td>Florence, SC</td>
                      <td>566mi / 911km</td>
                      <td><a href="https://www.google.ca/maps/place/Florence,+SC/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>27 - 29 May</td>
                    <td>Washington D.C.</td>
                      <td>400mi / 643km</td>
                      <td><a href="https://www.google.ca/maps/place/Washington,+DC/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>29 - 30 May</td>
                    <td>Philadelphia, PA</td>
                      <td>140mi / 225km</td>
                      <td><a href="https://www.google.ca/maps/place/Philadelphia,+PA/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>30 - 31 May</td>
                    <td>New York, NY</td>
                      <td>94mi / 151km</td>
                      <td><a href="https://www.google.ca/maps/place/New+York,+NY/" target="_blank">map</td>
                  </tr>
                  <tr>
                    <td>31 May</td>
                    <td>Bangor, ME</td>
                      <td>441mi / 709km</td>
                      <td><a href="https://www.google.ca/maps/place/Bangor,+ME+04401/" target="_blank">map</td>
                  </tr>
                </table>
              </div>
            </p>
        </div>

    </article>
{% endblock content %}
